#Python - Data Structure

#Data Types and Structures Questions

1. P What are data structures, and why are they important?
  - Data structures are specialized formats used to organize, store, and access data efficiently in a program. They act like containers that manage how data is arranged and interacted with. is important because it directly impacts the performance and efficiency of a program. Proper data structures make it easier to manipulate data, optimize operations like searching and sorting, and help conserve memory, ultimately leading to more effective and scalable software solutions.

2. Explain the difference between mutable and immutable data types with examples.
   - Mutable data types are those whose values can be changed or modified after they are created. This means you can update, add, or remove elements without creating a new object. Example: List, Dictionary.
   Immutable data types cannot be changed once they are created; any modification results in the creation of a new object. Example:strings, tuples, and integers.

3. What are the main differences between lists and tuples in Python?
   - The main differences between lists and tuples in Python are based on their mutability, syntax, and usage. Lists are mutable, meaning their elements can be changed, added, or removed after creation using methods like append() or remove(), and they are defined using square brackets " [] ". Tuples, on the other hand, are immutable, meaning their elements cannot be modified once created, and they are defined using parentheses " () ".

4. Describe how dictionaries store data.
   - Dictionaries in Python store data in the form of key-value pairs, where each key is unique and is used to access its corresponding value. Internally, dictionaries use a hashing mechanism to map keys to their values efficiently, allowing for fast data retrieval, insertion, and deletion. Data is enclosed in curly braces " {} ", with the key and value separated by a colon, like {"name": "Alice", "age": 25}. You can access values using their keys, for example, my_dict["name"] returns "Alice".

5. Why might you use a set instead of a list in Python?
  - You might use a set instead of a list in Python when you need to store unique elements and do not care about the order of items. Sets automatically eliminate duplicate values, making them ideal for situations where uniqueness is important, such as removing duplicates from a list. Unlike lists, sets are unordered and do not support indexing or slicing. Therefore, sets are preferred when uniqueness and efficiency in lookups are more important than maintaining order

6. What is a string in Python, and how is it different from a list?
   - A string in Python is a sequence of characters enclosed in single, double, or triple quotes, such as "hello" or 'Python', and is used to represent textual data. It is immutable, meaning once created, its characters cannot be changed. In contrast, a list is a collection of items (which can be of different data types) enclosed in square brackets like [1, 2, 'a'], and it is mutable, allowing modifications such as adding, removing, or changing elements. While both strings and lists support indexing and slicing, the key difference lies in their mutability and the type of data they store—strings for text and lists for multiple data elements.

7. How do tuples ensure data integrity in Python?
  - Tuples ensure data integrity in Python by being immutable, meaning their contents cannot be changed after creation. Once a tuple is defined, no elements can be added, removed, or modified, which helps prevent accidental changes to the data. This immutability makes tuples ideal for storing constant or fixed data that should remain the same throughout the program, such as configuration settings or coordinates. By protecting the data from modification, tuples help maintain consistency and reliability in a program’s behavior.

8. What is a hash table, and how does it relate to dictionaries in Python?
  - A hash table is a data structure that stores data in an associative manner using key-value pairs, where a hash function is used to compute an index into an array of buckets or slots, from which the desired value can be found. In Python, dictionaries are implemented using hash tables, meaning each key is passed through a hash function to determine where its corresponding value will be stored in memory. This allows for fast access, insertion, and deletion of values based on their keys.

9. Can lists contain different data types in Python?
  - Yes, lists in Python can contain different data types. A single list can hold elements such as integers, strings, floats, booleans, and even other lists or objects. For example, my_list = [10, "hello", 3.14, True] is a valid list containing multiple data types. This flexibility makes lists a powerful and versatile data structure for handling mixed data in Python programs.

10. Explain why strings are immutable in Python?
   - Strings are immutable in Python because once a string is created, its contents cannot be changed. Immutability  enhances security and reliability, as it ensures that string data remains constant throughout the program unless explicitly reassigned. For example, attempting to change a character in a string like name = "John"; name[0] = "M" will result in an error, emphasizing that strings cannot be altered in place.

11. What advantages do dictionaries offer over lists for certain tasks?
 - Dictionaries offer several advantages over lists for certain tasks, especially when working with key-value pairs or when fast data lookup is required. Unlike lists, where you access elements by their position (index), dictionaries allow you to access values directly using meaningful keys, making the code more readable and efficient. Dictionaries are ideal for tasks like storing user information, counting occurrences, or mapping data, where identifying elements by a unique label (key) is more practical than using numeric indexes.

12. Describe a scenario where using a tuple would be preferable over a list.
- A scenario where using a tuple would be preferable over a list is when you need to store fixed, unchangeable data, such as the coordinates of a location. For example, if you are working with a geographic application and need to store latitude and longitude as a pair, you can use a tuple like location = (28.6139, 77.2090). Since coordinates should not be altered once defined, using a tuple ensures data integrity by preventing accidental modification. Tuples are also slightly faster and can be used as keys in dictionaries, unlike lists, making them more suitable for such scenarios

13. How do sets handle duplicate values in Python?
   - Sets in Python automatically eliminate duplicate values. When you add elements to a set, it only keeps unique items, and any duplicate values are ignored. For example, if you try to add the same element multiple times to a set, only one instance of that element will be stored.
   ex--

In [1]:
my_set = {1, 2, 3}
my_set.add(3)
print(my_set)

{1, 2, 3}

In this case, the duplicate value 3 is ignored, and the set remains with only the unique elements {1, 2, 3}.

14.
- For lists, the "in" keyword checks if a value is present in the list. It performs a linear search to determine if the specified value exists as an element in the list.example :

In [2]:
my_list = [1, 2, 3]
print(2 in my_list)

True

In [3]:
print(4 in my_list)

False

Here, the "in" keyword checks whether the value 2 or 4 is in the list.
For dictionaries, the "in" keyword checks if a key is present in the dictionary, not the value. It checks if the specified key exists in the dictionary's set of keys. Example :

In [4]:
my_dict = {'a': 1, 'b': 2}
print('a' in my_dict)

True

In [5]:
print(1 in my_dict)

False

In this case, the "in" keyword checks for the presence of the key 'a', not the value 1.

15. Can you modify the elements of a tuple? Explain why or why not?
- No, you cannot modify the elements of a tuple in Python because tuples are immutable. Immutability means that once a tuple is created, its contents cannot be altered—this includes adding, removing, or changing elements.

16. What is a nested dictionary, and give an example of its use case?
  - A nested dictionary is a dictionary where the values associated with some keys are themselves dictionaries. This allows for creating more complex, hierarchical data structures, which can represent real-world relationships or multi-level mappings. Nested dictionaries are useful when you need to store and access data that has multiple levels of categorization or requires grouping.                                                                     Example use case: Consider a scenario where you are managing a school's student records. You can use a nested dictionary to store information about students, where each student's record is itself a dictionary containing details like age, grade, and subjects enrolled.

In [7]:
students = {
    "Gita": {"age": 12, "grade": 7, "subjects": ["Math", "Science"]},
    "Babi": {"age": 13, "grade": 8, "subjects": ["English", "History"]},
}
print(students["Gita"]["subjects"])

['Math', 'Science']

This structure allows for easy retrieval of nested data, such as finding the subjects.

17.  Describe the time complexity of accessing elements in a dictionary.
   - The time complexity of accessing elements in a Python dictionary is O(1) on average, meaning it takes constant time to retrieve a value based on its key. This is due to the underlying hash table structure. In rare cases of hash collisions, the complexity could degrade to O(n), but this is uncommon in practice due to collision resolution techniques.

18. In what situations are lists preferred over dictionaries?
- Lists are preferred over dictionaries in situations where ordering of elements is important, or when you need to store multiple items of the same type without requiring unique keys. Lists are ideal when you need to maintain an ordered collection (such as a sequence of numbers or strings) and perform operations like indexing, slicing, or iterating. For example, when working with a collection of items like a list of tasks or user inputs, lists provide a simpler, more efficient structure.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
- Dictionaries are considered unordered because the key-value pairs are stored based on the hash of the keys, not in the order they were added. This means you cannot rely on the order of elements when iterating over a dictionary. However, you can still retrieve data efficiently by accessing values using their keys, which provides fast lookups, typically in O(1) time.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
- List: Data is accessed by index (position in the list), and retrieval involves searching through the list in a linear manner if the index is unknown. This means accessing an element is slower when you don't know its position. Time complexity for access is O(1) if the index is known, but finding an item by value can take O(n).

Dictionary: Data is accessed by key. The key is hashed to determine its position in memory, allowing for fast lookups. Retrieval is very efficient, with an average time complexity of O(1), regardless of the size of the dictionary.

#Practical Questions

1. Write a code to create a string with your name and print it.

In [8]:
my_name = "Aparna Swain"
print(my_name)

Aparna Swain

2. Write a code to find the length of the string "Hello World".

In [9]:
text = "Hello World"
print(len(text))

11

 3. Write a code to slice the first 3 characters from the string "Python Programming".

In [10]:
text = "Python Programming"
sliced_text = text[:3]
print(sliced_text)

Pyt

4. Write a code to convert the string "hello" to uppercase.

In [11]:
text = "hello"
uppercase_text = text.upper()
print(uppercase_text)

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [12]:
text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

6.  Write a code to create a list with numbers 1 to 5 and print it.

In [14]:
numbers = [1, 2, 3, 4, 5]
for num in numbers:
    print(num)

1
2
3
4
5

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [15]:
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [16]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [17]:
letters = ['a', 'b', 'c', 'd']
second_element = letters[1]
print(second_element)

b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [18]:
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

11.  Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [19]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [20]:
colors = ('red', 'green', 'blue', 'yellow')
second_to_last = colors[-2]
print(second_to_last)

blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [21]:
my_tuple = (10, 20, 5, 15)
min_value = min(my_tuple)
print(min_value)

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [22]:
my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple.index('cat')
print(index_of_cat)

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [23]:
fruits = ('apple', 'banana', 'orange')
if 'kiwi' in fruits:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is not in the tuple.")

Kiwi is not in the tuple.

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [24]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'a', 'c', 'b'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [25]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

18.  Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [26]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [27]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [28]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [29]:
my_dict = {
    "name": "Aparna",
    "age": 22,
    "city": "Odisha"
}

print(my_dict)

{'name': 'Aparna', 'age': 22, 'city': 'Odisha'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [30]:
my_dict = {'name': 'John', 'age': 25}
my_dict['country'] = 'USA'
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [31]:
my_dict = {'name': 'Alice', 'age': 30}
name_value = my_dict['name']
print(name_value)

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [33]:
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict['age']
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [34]:
my_dict = {'name': 'Alice', 'city': 'Paris'}
if 'city' in my_dict:
    print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

26.  Write a code to create a list, a tuple, and a dictionary, and print them all.

In [35]:
# Creating a list
my_list = [1, 2, 3, 4, 5]

# Creating a tuple
my_tuple = ('apple', 'banana', 'cherry')

# Creating a dictionary
my_dict = {'name': 'Alice', 'age': 25, 'city': 'Paris'}

# Printing all
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Alice', 'age': 25, 'city': 'Paris'}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced).

In [36]:
import random

# Create a list of 5 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(5)]

# Sort the list in ascending order
random_numbers.sort()

# Print the sorted list
print(random_numbers)

[6, 19, 38, 45, 53]

28. Write a code to create a list with strings and print the element at the third index.

In [37]:
# Creating a list with strings
my_list = ['apple', 'banana', 'cherry', 'date', 'elderberry']

# Printing the element at the third index
print(my_list[3])

date

29. Write a code to combine two dictionaries into one and print the result.

In [38]:
# Creating two dictionaries
dict1 = {'name': 'Alice', 'age': 25}
dict2 = {'city': 'Paris', 'country': 'France'}

# Combining the two dictionaries
combined_dict = {**dict1, **dict2}

# Printing the combined dictionary
print(combined_dict)

{'name': 'Alice', 'age': 25, 'city': 'Paris', 'country': 'France'}

30. Write a code to convert a list of strings into a set.

In [39]:
# Creating a list of strings
my_list = ['apple', 'banana', 'cherry', 'apple', 'orange']

# Converting the list into a set
my_set = set(my_list)

# Printing the set
print(my_set)

{'banana', 'apple', 'cherry', 'orange'}